 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#titulo {
    
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: #f8f8f8;
  }

#divtabla{
    text-align: left;
    border: 1px solid black;
   

}  
.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .col-sm-6 {
    display: flex;
    justify-content: center;
  }

.fotoSmall{
    width: 10%;
    height: 10%;
}




